*{
    margin:0;
    padding:0;
    font-family: Gabriola;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #301934;
    width:100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo img{
    width: 180px;
    height: 98px;

}
ul{
    float: right;
    line-height: 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color:black;

}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.banner{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/my_orders2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.banner h1{
    padding-top: 2%;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
}
.content{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 450px;
    letter-spacing: 2px;
    font-size: 30px;
    /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/background_5.jpg);
    -webkit-background-size: cover;
    background-size: 100% auto;
    background-position: center center; */
}
.content table,.message {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: #ffffff30;
    backdrop-filter: blur(20px);
    /* border: 2px solid #ffffff30; */
    border-radius: 10px;
    box-shadow: 0 10px;
}
.message {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: #ffffff30;
    backdrop-filter: blur(20px);
    /* border: 2px solid #ffffff30; */
    border-radius: 10px;
    box-shadow: 0 10px;
    width:50%;
    height:250px;
}
.content table td,th{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.5em;
}
.content table input[type="submit"],.message input[type="submit"]{
    
    text-decoration: none;
    color: black;
    letter-spacing: 4px;
    font-size: 30px;    
    border: 3px solid transparent;
    transition: 0.6s ease;
    width: 23%;
}

.content table input[type="submit"]:hover,.message input[type="submit"]:hover{
   
    background-color: 	#DC143C;
    color: #fff;
}
.error p,.content p{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.5em;

}
.content p a{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 1.5em;
}