*{
    margin:0;
    padding:0;
    font-family: Gabriola;
}
body{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #301934;
    width:100%;
    z-index: 12;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo img{
    width: 250px;
    height: 115px;

}
ul{
    float: right;
    line-height: 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color:black;

}
.banner{
    width: 100%;
    height: 800px;
    position: fixed;
    top: 100px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/payment_bg1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.banner h1{
    padding-top: 8%;
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
}
.content{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 450px;
    align-content: center;
}
 .content form{
    width: 450px;
    height: 600px;
    display:inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff30;
    backdrop-filter: blur(20px);
    border: 2px solid #ffffff30;
    border-radius: 10px;
    box-shadow: 0 10px;
    padding: 40px;
    overflow: hidden;
} 
.content h1{
    color: #ffffff;
    font-size: 3em;
    margin-bottom: 40px;
    position: relative;
}
.content input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #ffffff30;
    background-color: #ffffff30;
    color: #ffffff;
    margin: 10px 0;
    padding: 0 15px;
    font-size: 1.5em;
    letter-spacing: 1px;
    cursor: pointer;
}

.content label {
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 2em;
  }
.content input:focus{
    border-color: #ffffff;
    transition: 0.4s;
}
.content button{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #303e5c;
    box-shadow: 0 10px 20px #303e5c69 ;
    cursor: pointer;
}
.cancel p a{
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 1px;
}
